<div class="mainhead">
    <nav class="header-nav">
        <a href="/index">Index</a>
        <a href="/reservations">Reserve</a>
        <a href="/reservations/bookings">Bookings</a>
        <a href="/logout">Logout</a>
    </nav>
</div>